<apex:page showHeader="false" sidebar="false" standardStylesheets="false">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    
    <style type='text/css'>
    .embeddedServiceHelpButton .helpButton .uiButton {
        background-color: #FFFFFF;
        font-family: "open sans", sans-serif;
    }
    .embeddedServiceHelpButton .helpButton .uiButton:focus {
        outline: 1px solid #FFFFFF;
    }
    .embeddedServiceSidebarFormField .slds-style-inputtext, .embeddedServiceSidebarFormField .slds-style-select{
        font-family:"Open sans",sans-serif;
    }
        
    .embeddedServiceHelpButton .helpButton .uiButton:focus {
        outline: 1px solid #FFFFFF;
    }
    
    .embeddedServiceSidebarHeader h2{
        font-size:12px !important;
    }
        
    .message{ color: #81275a; background:none !important; border:0 !important; width: 100% !important; margin: 4px 10px;overflow : unset !important;}
       
    .embeddedServiceHelpButton .embeddedServiceIcon::before,
    .embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:hover,
    .embeddedServiceSidebarMinimizedDefaultUI.helpButton, 
    .embeddedServiceSidebarMinimizedDefaultUI.helpButton .embeddedServiceIcon::before,
    .embeddedServiceSidebarMinimizedDefaultUI .content{
        color:#81275a;
    }
    
    .embeddedServiceSidebarMinimizedDefaultUI.helpButton .embeddedServiceIcon svg{
        fill:#81275a;
    }
    
    .embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:hover,.embeddedServiceSidebarMinimizedDefaultUI.helpButton{
        background-color:#FFFFFF !important;
    }
    
    .embeddedServiceSidebarFormField .slds-style-inputtext:focus, .embeddedServiceSidebarFormField .slds-style-select:focus{
        border:1px solid #ddd;
    }
    
    .embeddedServiceHelpButton .helpButtonDisabled{
        display:none !important;
    }
    
    .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.postChatButton{
        background-color:#FFFFFF !important;
        border: 1px solid #81275a;
    }
    
    .embeddedServiceSidebarButton,.embeddedServiceSidebarButton.uiButton--inverse:not(:disabled):focus,
    .embeddedServiceSidebarButton.uiButton--inverse:not(:disabled):hover,.embeddedServiceSidebarButton.uiButton--inverse, 
    .embeddedServiceSidebarButton.uiButton--inverse:disabled{
        background-color:#81275a;
    }
    
    .embeddedServiceLiveAgentStateChatItem.chasitor .chatContent{
        background:#81275a !important;
    }
</style>

<!-- Start of Invitations -->
<div class="embeddedServiceInvitation" id="snapins_invite" inert="inert" aria-live="assertive" role="dialog" aria-atomic="true">
    <div class="embeddedServiceInvitationHeader" aria-labelledby="snapins_titletext" aria-describedby="snapins_bodytext">
        <img id="embeddedServiceAvatar"/>
        <span class="embeddedServiceTitleText" id="snapins_titletext">Need help?</span>
        <button type="button" id="closeInvite" class="embeddedServiceCloseIcon" aria-label="Exit invitation">&times;</button>
    </div>
    <div class="embeddedServiceInvitationBody">
        <p id="snapins_bodytext">How can we help you?</p>
    </div>
    <div class="embeddedServiceInvitationFooter" aria-describedby="snapins_bodytext">
        <button type="button" class="embeddedServiceActionButton" id="rejectInvite">Close</button>
        <button type="button" class="embeddedServiceActionButton" id="acceptInvite">Start Chat</button>
    </div>
</div>

<style type='text/css'>
    #snapins_invite { background-color: #FFFFFF; font-family: "open sans", sans-serif; overflow: visible; border-radius: 8px; visibility: hidden; }
    .embeddedServiceInvitation { background-color: transparent; max-width: 290px; max-height: 210px; -webkit-box-shadow: 0 7px 12px rgba(0,0,0,0.28); -moz-box-shadow: 0 7px 12px rgba(0,0,0,0.28); box-shadow: 0 7px 12px rgba(0,0,0,0.28); }
    @media only screen and (min-width: 48em) { /*mobile*/ .embeddedServiceInvitation { max-width: 332px; max-height: 210px; } }
    .embeddedServiceInvitation > .embeddedServiceInvitationHeader { width: inherit; height: auto; line-height: 32px; padding: 10px; color: #FFFFFF; background-color: #81275a; overflow: initial; display: flex; justify-content: space-between; align-items: stretch; border-top-left-radius: 8px; border-top-right-radius: 8px; }
    .embeddedServiceInvitationHeader #embeddedServiceAvatar { width: 32px; height: 32px; border-radius: 50%; }
    .embeddedServiceInvitationHeader .embeddedServiceTitleText { font-size: 18px; color: #FFFFFF; overflow: hidden; word-wrap: normal; white-space: nowrap; text-overflow: ellipsis; align-self: stretch; flex-grow: 1; max-width: 100%; margin: 0 12px; }
    .embeddedServiceInvitationHeader .embeddedServiceCloseIcon { border: none; border-radius: 3px; cursor: pointer; position: relative; bottom: 3%; background-color: transparent; width: 32px; height: 32px; font-size: 23px; color: #FFFFFF; }
    .embeddedServiceInvitationHeader .embeddedServiceCloseIcon:focus { outline: none; }
    .embeddedServiceInvitationHeader .embeddedServiceCloseIcon:focus::before { content: " "; position: absolute; top: 11%; left: 7%; width: 85%; height: 85%; background-color: rgba(255, 255, 255, 0.2); border-radius: 4px; pointer-events: none; }
    .embeddedServiceInvitationHeader .embeddedServiceCloseIcon:active, .embeddedServiceCloseIcon:hover { background-color: #FFFFFF; color: rgba(0,0,0,0.7); opacity: 0.7; }
    .embeddedServiceInvitation > .embeddedServiceInvitationBody { background-color: #FFFFFF; max-height: 110px; min-width: 260px; margin: 0 8px; font-size: 14px; line-height: 20px; overflow: auto; }
    .embeddedServiceInvitationBody p { color: #000000; padding: 8px; margin: 12px 0; font-size:14px}
    .embeddedServiceInvitation > .embeddedServiceInvitationFooter { width: inherit; color: #FFFFFF; text-align: right; background-color: #FFFFFF;  max-height: 50px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
    .embeddedServiceInvitationFooter > .embeddedServiceActionButton { font-size: 14px; max-height: 40px; border: none; border-radius: 4px; padding: 10px; margin: 4px; text-align: center; text-decoration: none; display: inline-block; cursor: pointer; }
    .embeddedServiceInvitationFooter > #acceptInvite { background-color: #81275a; color: #FFFFFF; }
    .embeddedServiceInvitationFooter > #rejectInvite { background-color: #FFFFFF; color: #81275a; }
</style>

<script type='text/javascript'>
    (function() {
        document.getElementById('closeInvite').onclick = function() { embedded_svc.inviteAPI.inviteButton.rejectInvite(); };
        document.getElementById('rejectInvite').onclick = function() { embedded_svc.inviteAPI.inviteButton.rejectInvite(); }; // use this API call to reject invitations
        document.getElementById('acceptInvite').onclick = function() { embedded_svc.inviteAPI.inviteButton.acceptInvite(); }; // use this API call to start chat from invitations
        document.addEventListener('keyup', function(event) { if (event.keyCode == 27) { embedded_svc.inviteAPI.inviteButton.rejectInvite(); }})
    })();
</script>
<!-- End of Invitations -->

<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>
    var initESW = function(gslbBaseURL) {
        embedded_svc.settings.displayHelpButton = true; //Or false
        // embedded_svc.settings.language = ''; //For example, enter 'en' or 'en-US'

        embedded_svc.settings.defaultMinimizedText = 'Have a chat with us!'; //(Defaults to Chat with an Expert)
        //embedded_svc.settings.disabledMinimizedText = '...'; //(Defaults to Agent Offline)

        //embedded_svc.settings.loadingText = ''; //(Defaults to Loading)
        //embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Sets the domain for your deployment so that visitors can navigate subdomains during a chat session)

        // Settings for Live Agent
        //embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
            // Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
            // Returns a valid button ID.
        //};
        //embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
        //embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
        //embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Defaults to Contact Us)

        embedded_svc.settings.enabledFeatures = ['LiveAgent'];
        embedded_svc.settings.entryFeature = 'LiveAgent';
        
        embedded_svc.settings.autoOpenPostChat = true;
        var currentPageURL = window.location.href;
        
        embedded_svc.settings.extraPrechatFormDetails = [
                {
                    "label":"Last Name", 
                    "transcriptFields":["Last_Name__c"]
                },
                {
                    "label":"First Name", 
                    "transcriptFields":["First_Name__c"]
                },
                {
                    "label":"Email", 
                    "transcriptFields":["Email__c"]
                },{
                    "label":"BusinessUnit",
                    "value":"Al Mosafer",
                    "transcriptFields":["Business_Unit__c"],
                    },
                {
                    "label":"Current Page URL",
                    "value":currentPageURL,
                    "transcriptFields":["ATG_Current_Page_URL__c"],
                 }
                             
                ];

        // Restrict Contact Creation

        embedded_svc.settings.extraPrechatInfo = [{
        "entityFieldMaps": [{
            "doCreate":false,
            "doFind":false,
            "fieldName":"LastName",
            "isExactMatch":true,
            "label":"Last Name"
            },{
            "doCreate":false,
            "doFind":false,
            "fieldName":"FirstName",
            "isExactMatch":true,
            "label":"First Name"
            },{
              "doCreate":false,
              "doFind":false,
              "fieldName":"Email",
              "isExactMatch":true,
              "label":"Email"
             } ],
            "entityName":"Contact"
            
                                              
        }];

      embedded_svc.init(
            'https://altayyargroup.my.salesforce.com',
            'https://altayyargroup.secure.force.com/almosafer',
            gslbBaseURL,
            '00D0N000001MRjh',
            'Al_Mosafer_Generic_English',
            {
                baseLiveAgentContentURL: 'https://c.la1-c1-par.salesforceliveagent.com/content',
                deploymentId: '5720N000000bqT6',
                buttonId: '5730N000000bqDv',
                baseLiveAgentURL: 'https://d.la1-c1-par.salesforceliveagent.com/chat',
                eswLiveAgentDevName: 'EmbeddedServiceLiveAgent_Parent04I0N000000Kz5UUAS_1699098d74c',
                isOfflineSupportEnabled: false
            }
        );
    };

    if (!window.embedded_svc) {
        var s = document.createElement('script');
        s.setAttribute('src', 'https://altayyargroup.my.salesforce.com/embeddedservice/5.0/esw.min.js');
        s.onload = function() {
            initESW(null);
        };
        document.body.appendChild(s);
    } else {
        initESW('https://service.force.com');
    }
</script>
</apex:page>